# IGNORE THE FOLLOWING
stop_*.flag
debs
icgc
icgc-aligner.tar
bamsplit_*
*.pyc
annaiservices-openrc.sh
t/bin/PanCancer/Apps/outputs/gtfuse.log
t/bin/PanCancer/Apps/inputs/00000000-0000-0000-0000-000000000000

# INCLUDE THE FOLLOWING
